<%= form_for (@feedback_review ||= review.feedback_reviews.build), url: feedback_reviews_path(review), method: :post, remote: true do |f| %>
  <% unless @feedback_review.errors.empty? %>
    <div class="error"><%= @feedback_review.errors[:rating] %></div>
  <% end %>
  <%= hidden_field  'feedback_review[rating]', value: 5 %>
  <div class="helper">
    <div>
      <strong><%= review.feedback_reviews.count %></strong> people found this helpful
    </div>
    <div class="d-flex align-items-center">
      <button class="helpful">Helpful</button>
      <a href="">Comment</a> | <a href="">Report</a>
    </div>
  </div>
<% end %>
